@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 384px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.inner-card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.inner-card img{
    width: 100%;
    height: auto;
    display: block;
}

.inner-card-content h2{
    padding: 8px 12px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    width: fit-content;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
}

.inner-card-content p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.inner-card-content h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    cursor: pointer;
}

.inner-card-content h3:hover {
    color: hsl(47, 88%, 63%);
}

.inner-card-content .description{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: hsl(0, 0%, 42%);
}

.inner-card-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.inner-card-author img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.inner-card-author p{
    font-size: 14px;
    font-weight: 800;
}